@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #b7dc18;
  --secondary-color: #1a1a1a;
  --text-color: #333;
  --background-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --font-family: "Quicksand", sans-serif;
  --transition-speed: 0.3s;
  --hover-brightness: 1.1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--text-color);
}

body, html {
  height: 100%;
  width: 100%;
}

.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  box-shadow: 0 2px 5px var(--shadow-color);
  z-index: 1000;
}

.navbar a, .navbar h1 {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0 15px;
  transition: color var(--transition-speed);
}

.navbar h1 {
  color: var(--primary-color);
  font-weight: 900;
}

.navbar a:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}

.content {
  max-width: 75%;
  margin: 70px auto 0; /* Adjusted to account for navbar */
  padding: 50px;
}

.logo, .menu-icon {
  width: 80px;
  height: auto;
  filter: drop-shadow(0px 0px 2px #fffffff2);
  transition: transform var(--transition-speed), filter var(--transition-speed);
}

.logo {
  margin-right: 10px;
  margin-top: -18px;
}

.menu-icon:hover {
  transform: scale(1.1);
  filter: brightness(var(--hover-brightness));
}

.divider, .menu-divider {
  display: inline-block;
  background-color: var(--primary-color);
  margin: 0 20px;
  vertical-align: middle;
}

.divider {
  height: 70px;
  width: 2px;
}

.menu-divider {
  height: 80px;
  width: 2px;
  background-color: var(--secondary-color);
}

.main-image {
  width: 100%;
  height: auto;
  opacity: 0.5;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--shadow-color);
  transition: opacity var(--transition-speed);
}

.main-image:hover {
  opacity: 0.7;
}

.image-container {
  position: relative;
  text-align: center;
}

.image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-size: 50px;
}

.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: var(--primary-color);
  opacity: 0.8;
}

.menu-item {
  text-align: center;
}

.menu-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary-color);
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 5px 0;
  transition: var(--transition-speed);
}

/* Estilo para o contêiner do ícone de perfil */
.profile-icon {
  cursor: pointer;
  display: inline-flex; /* Mantém o ícone em linha com os outros links */
  align-items: center; /* Alinha verticalmente com os links */
  margin-left: 20px; /* Espaço entre o ícone e o último link */
  margin-right: 20px;
}

.profile-dropdown {
  display: flex;
  flex-direction: column; /* Disposição vertical dos links do dropdown */
  position: absolute; /* Posicionamento absoluto */
  top: 100%; /* Posiciona abaixo do ícone */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1001;
}

.profile-dropdown a {
  padding: 10px;
  color: black;
  text-decoration: none;
  display: block; /* Garante que os links sejam exibidos em linhas separadas */
}

.profile-dropdown a:hover {
  background-color: #f0f0f0;
}

/* Responsividade e Comportamento do Menu */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  
  .navbar a {
    margin: 10px 0;
  }
  
  .divider, .menu-divider {
    display: none;
  }

  .burger-menu {
    display: block;
  }
  
  .links, .links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer {
  padding: 50px 0;
  background-image: linear-gradient(to right, #f8f9fa, #eceff1);
  color: #6c757d;
  border-top: 1px solid #e7e7e7;
  margin-top: 50px;
  font-family: 'Arial', sans-serif;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.footer-logo {
  margin-bottom: 20px;
}

.text-muted {
  color: #6c757d !important;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icons a {
  display: inline-block;
}

@media (max-width: 576px) {
  .footer {
    padding: 30px 20px;
  }

  .footer .container {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    margin-bottom: 10px;
  }
}

